<p id="notice"><%= notice %></p>

<h1>Poems</h1>

<table>
  <thead>
    <tr>
      <th><%= Poem.human_attribute_name(:title) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poems.each do |poem| %>
      <tr>
        <td><%= poem.title %></td>
        <td><%= link_to 'Toon', poem %></td>
        <td><%= link_to 'Bijwerken', edit_poem_path(poem) %></td>
        <td><%= link_to 'Verwijderen', poem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuw gedicht', new_poem_path %>
